.nav {
  height: 7vh;
  background-color: #ed6a20;
  &__list {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  &__link {
    flex: 1;
    color: white;
    //border: 1px solid red;
    img{
      width: 20px;
    }
  }
  &__logo{
    font-size: 1.2rem;
  }
  &__item {
    min-height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    .left-arrow{
      position: relative;
      top: 2.5px;
      filter: brightness(0) invert(1);
    }
    .binlink{
      margin-right: 20px;
      position: relative;
      top: 2.5px;
      filter: brightness(0) invert(1);
    }
    &:first-child{
      margin-left: 4%;
      width: 1.5%;
      height: 50%;
    }
    &:nth-child(2){
      margin-left: 10px;
    }
    &:last-child{
      margin-right: 4%;
      width: 1.5%;
      height: 50%;
    }
    .pyramid {
      &__line{
        background-color: white;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-top: 15%;
        margin-bottom: 15%;
      }
      &--top{
        width: 100%;
      }
      &--middle{
        width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
      &--bottom{
        width: 25%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .hamburger {
      &__line {
        width: 100%;
        background-color: white;
        padding-bottom: 5%;
        padding-top: 5%;
        margin-top: 15%;
        margin-bottom: 15%;
      }
    }
  }
  .separator{
    flex: 1
  }
}
//phones
@media (max-width: 768px) {
  .nav{
    &__item{
      &:first-child{
        width: 5%;
      }
      &:last-child{
        width: 5%;
      }
    }
  }
}

//tablets
@media (min-width: 769px) and (max-width: 1024px) {
  .nav{
    &__item{
      &:first-child{
        width: 2%;
      }
      &:last-child{
        width: 2%;
      }
    }
  }
}
