<nav class="nav">
  <div class="nav__list">
    <div class="nav__item">
      <a class="nav__link hamburger">
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
        <div class="hamburger__line"></div>
      </a>
    </div>
    <div class="nav__item logo">
      <a class="nav__link">
        <span class="nav__logo">Checklists</span>
      </a>
    </div>
    <div class="nav__item separator"></div>
    <div class="nav__item">
      <a class="nav__link pyramid">
        <div class="pyramid__line pyramid--top"></div>
        <div class="pyramid__line pyramid--middle"></div>
        <div class="pyramid__line pyramid--bottom"></div>
      </a>
    </div>
  </div>
</nav>
