<div class="loader" *ngIf="isLoadingChecklists">
  <span class="loader__spinner"></span>
</div>
<div class="checklists" *ngIf="!isLoadingChecklists" #checklistsRef>
  <div class="checklists__checklist" #parentDiv *ngFor="let checklist of checklists; index as i"
       (mousedown)="onMouseDown($event, parentDiv)"
       (touchstart)="onTouchStart($event, parentDiv)"
       (touchmove)="onTouchMove($event, parentDiv)"
       (mouseup)="onMouseUp($event, parentDiv)"
       (touchend)="onTouchEnd($event, parentDiv)"
        (mousemove)="onMouseMove($event, parentDiv)">
    <div class="checklists__checklist__circleborder"
         [style.background]="returnGradient(completedOrNaSubtasksForChecklist[i]/numberOfSubtasksForChecklist[i]*100)">
      <div class="checklists__checklist__circle">
        <span>{{completedOrNaSubtasksForChecklist[i]}}/{{numberOfSubtasksForChecklist[i]}}</span>
      </div>
    </div>
    <div class="checklists__checklist__title">
      <span (click)="openChecklist(checklist.id)">{{checklist.name}}</span>
    </div>
    <div class="checklists__checklist__action" #actions>
      <button type="button" class="checklists__checklist__setup" (click)="setupChecklist(checklist.id)">
        <img alt="" src="./assets/images/home/checklist-list/gear.svg">
        <span>Setup</span>
      </button>
      <button type="button" class="checklists__checklist__delete" (click)="deleteChecklist(checklist.id)">
        <img alt="" src="./assets/images/home/checklist-list/trash-bin.svg">
        <span>Delete</span>
      </button>
    </div>
  </div>
  <form *ngIf="addingChecklistFormOpen" #checklistForm="ngForm" class="checklists__form" (ngSubmit)="addChecklist(checklistForm)" novalidate>

    <input class="checklists__input"
           name="checklistName"
           [(ngModel)]="newChecklistName"
           placeholder="Type a new checklist here..."
           required
           #checklistInput
           #name="ngModel"
           type="text" >
    <div *ngIf="name.invalid && name.dirty" class="checklists__input__error">
      <span>Unesite ime.</span>
    </div>
    <button class="checklists__check" type="submit" [disabled]="!checklistForm.valid">&#10003;</button>
<!--    <button type="button" (click)="cancelNewChecklist(checklistForm)">X</button>-->
  </form>
  <div class="checklists__add" *ngIf="!addingChecklist" (click)="goToAddChecklist()">+</div>
</div>
<app-delete-modal *ngIf="isDeleteModalOpen" (confirm)="confirmDeleteChecklist()"
                  (cancel)="cancelDeleteChecklist()"
                  [staBrisem]="'checklist'"></app-delete-modal>
<app-error-modal *ngIf="isErrorModalOpen" (close)="error()" [kojiError]="errorType"></app-error-modal>
