.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
  &__spinner{
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #ed6a20 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 0 auto;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.checklists{
  width: 100vw;
  overflow: hidden;
  &__form {
    padding: 2.5vh 5vw;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__input {
    flex: 1;
    height: 30px;
    border: none;
  }
  &__input:focus{
    outline: none;
  }
  &__check {
    width: 45px;
    height: 30px;
    border: none;
    border-radius: 5%;
    background-color: #ed6a20;
    color: white;
    font-size: 1rem;
  }
  &__check:disabled{
    opacity: 50%;
  }
  &__add{
    padding: 10px;
    background-color: #38acdc;
    border-radius: 50%;
    display: block;
    font-size: 1.5rem;
    color: white;
    width: 28px;
    text-align: center;
    position: fixed;
    bottom: 8vh;
    right: 4vw;
    cursor: pointer;
  }
  &__checklist{
    padding-top: 3.5vh;
    padding-bottom: 3.5vh;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    width: calc(100vw + 120px);
    display: flex;
    align-items: center;
    &__title {
      position: absolute;
      cursor: pointer;
    }
    &__action{
      position: absolute;
      right: 0;
      width: 120px;
      height: 100%;
      transition: right 0.3s ease;
      display: flex;
      align-items: center;
      button{
        cursor: pointer;
        width: 50%;
        height: 100%;
        border: none;
        color: white;
      }
    }
    &__setup, &__delete{
      img{
        width: 50%;
        filter: brightness(0) invert(1);
      }
    }
    &__setup{
      background-color: #b5b5b5;
    }
    &__delete {
      background-color: #f23b30;
    }
  }
}
