<div class="loader" *ngIf="isLoadingChecklists">
  <span class="loader__spinner"></span>
</div>
<div class="checklists" *ngIf="!isLoadingChecklists">
  <div class="checklists__checklist" *ngFor="let checklist of checklists; index as i"
       (mousedown)="onMouseDown($event)"
       (touchstart)="onTouchStart($event)"
       (touchmove)="onTouchMove($event)"
       (mouseup)="onMouseUp($event)"
       (touchend)="onTouchEnd($event)"
        (mousemove)="onMouseMove($event)">
    <div class="checklists__checklist__title">
      <span>{{checklist.name}}</span>
    </div>
    <div class="checklists__checklist__action" #actions>
      <button type="button" class="checklists__checklist__setup">
        <img alt="" src="./assets/images/home/checklist-list/gear.svg">
        <span>Setup</span>
      </button>
      <button type="button" class="checklists__checklist__delete" (click)="deleteChecklist(checklist.id)">
        <img alt="" src="./assets/images/home/checklist-list/trash-bin.svg">
        <span>Delete</span>
      </button>
    </div>
  </div>
  <form *ngIf="addingChecklist" #checklistForm="ngForm" class="checklists__form" (ngSubmit)="addChecklist(checklistForm)" novalidate>

    <input class="checklists__input"
           name="checklistName"
           [(ngModel)]="newChecklistName"
           placeholder="Type a new checklist here..."
           required
           #checklistInput
           #name="ngModel"
           type="text" >
    <div *ngIf="name.invalid && name.dirty" class="checklists__input__error">
      Unesite ime.
    </div>
    <button class="checklists__check" type="submit" [disabled]="!checklistForm.valid">&#10003;</button>
<!--    <button type="button" (click)="cancelNewChecklist(checklistForm)">X</button>-->
  </form>
  <div class="checklists__add" *ngIf="!addingChecklist" (click)="goToAddChecklist()">+</div>
</div>
<app-delete-modal *ngIf="isDeleteModalOpen" (confirm)="confirmDeleteChecklist()" (cancel)="cancelDeleteChecklist()"></app-delete-modal>
